<div class="lineSet mt-5">
  <h1 class="text-primary">Title of page</h1>
  <hr>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, porro impedit soluta praesentium odit nihil animi autem modi vel saepe voluptas unde quo molestias commodi iusto magni doloribus velit nobis.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus provident sapiente voluptate magni nesciunt quaerat similique culpa minus, reprehenderit eveniet accusamus officiis cupiditate est, dolorem pariatur deserunt tempore aspernatur alias!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil obcaecati id optio, placeat fuga dolores culpa quis possimus qui totam aspernatur nostrum laudantium fugit voluptatum quaerat, cupiditate praesentium perferendis harum!
  </p>
</div>
